* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(68, 68, 195), midnightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.play-list, .player {
    width: 500px;
    height: 83vh;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.play-color {
    background-color: rgb(42, 42, 128);
}

.play-list {
    justify-content: flex-end;
}

.display {
    width: 320px;
    height: 260px;
    border: 1px solid lightblue;
    margin: 30px 0px 25px 0px;
    position: relative;
}

.song {
    color: white;
    margin-bottom: 2px;
}

.name {
    color: white;
    margin-bottom: 25px;
}

.cover-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit:fill;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    color: white;
    padding-left: 35px;
}

.texts {
    margin-left: 50px;
}

.title {
    font-size: 20px;
    margin-bottom: 8px;
}

.play-btn, .main-play, .pause {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: rgb(59, 59, 175);
}

.play-btn:active, .main-play:active, .pause:active {
    transform: translateY(3px);
}

.material-icons {
    color: white;
}

.song-progress {
    margin: 10px;
}

span {
    color: white;
}

.repeat-shuffle-div {
    margin-top: 20px;
}

.current-sound {
    margin: 20px;
}

.back, .forward, .shuffle, .repeat {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin:6px 20px 10px 20px;
    padding: 3px 8px;

}

.back:active, .forward:active, .shuffle:active, .repeat:active {
    transform: translateY(3px);
}

.active {
    border: 1px dotted whitesmoke;
    border-radius: 5px;

}

.hidden {
    visibility: hidden;
    font-size: 0px;
    width: 0px;
    height: 0px;
}


